* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #452f0e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#linktree {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.banner {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

#linktree h1 {
    color: #ff0000; /* Red color for the title */
    margin-bottom: 10px;
}

#linktree p {
    color: #452f0e;
    font-size: 18px;
    margin-bottom: 20px;
}

#linktree a {
    display: block;
    background-color: #008211; /* Green tone for buttons */
    color: #ffce1f; /* Yellow tone for text in buttons */
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#linktree a:hover {
    background-color: #ff0000; /* Red on hover */
    color: #fff;
}
